# Entornos virtuales
venv/
.venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

#Privado
.env

# PyCharm
.idea/

#bases de datos
.users.json
.reservations.json

.vercel
.env*.local
